Universal CSS reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body tag styling */
body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: #272343;
}

.nav-links{
    color: inherit;
}

main{
    height: 100px;
}
#subHeader{
    text-align: left;
    align-items: left;
    

    color: black;
}

section{
    padding: 40px 40px;
}
section > h1{
    text-transform: uppercase;
    color: rgb(125, 124, 124);
}
input{
    width: 45px;
    padding: 10px 0;
    font-size: 20px;
    margin: 10px 0;
    border: 3px solid #70a8ed;
}
.input-guest-details{
    width: 300px;
    display: block;
    border: 2px solid rgba(128, 128, 128, 0.459);
}
#btn-reserve{
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    color: white;
    background-color: rgb(121, 218, 135);
}
#btn-reserve:hover{
    background-color: white;
    color: rgb(121, 218, 135);
    cursor: pointer;
}