/* Bg image */
.background-image-container{
    /* Setting the body to image because */
    /* we want a navbar contained within the image */
    background:  rgba(24, 23, 24, 0.6) url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    /* adding an overlay to the background */
    background-blend-mode: multiply;
}

/* Main section */
main{
    width: 100%;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

main > h6 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #bae8e8;
    text-transform: uppercase;
}
main > h1{
    font-size: 36px;
    letter-spacing: 1px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

#reserve-container {
    width: auto;
    text-align: left;
    margin-top: 20px;
    padding:36px 32px;
    background: #fffffe;
    color:#272343;
    border-radius: 4px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}