/* Main tag styling */
main{
    height: auto;
    text-align: left;
    background-color: white;
    color: inherit;
    width: 70vw;
    margin: 0 auto;
    margin-top: 8%;
    padding:32px 48px;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

ul{
    list-style-type: none;
}

 ul > li{
   display: inline;
   margin-right:20px; 
}

 h1{
    font-size: 24px;
    text-transform: uppercase;
    color: #B9E8E7;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
}
input{
    width: 45px;
    padding: 10px 6px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #C5C5C5;
}

.input-guest-details{
    margin:18px 0;
    width: 300px;
    display: block;
    border: 2px solid rgba(128, 128, 128, 0.459);
}

#btn-reserve{
    padding: 12px 24px;
    font-size: 16px;
    margin-top:20px;
    text-transform: uppercase;
}

#receipt{
    padding-top: 40px;
}
#receipt > p{
    margin: 5px;
    font-weight: 600;
}

