/* Universal CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body tag styling */

body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: #272343;
}

.nav-links{
    color: inherit;
}